 <script type="text/ng-template" ng-app="memoryGameEditorapp" ng-controller="memoryGameEditorController as $ctrl" id="memorygame-editor">
    <style type="text/css">
.ui.vertical.menu .active.item {
        background: #3CB878;
        color: #fff;
    }

    .ui.vertical.pointing.menu .active.item:after,
    .ui.vertical.pointing.menu .active.item:hover:after,
    .ui.vertical.pointing.menu .active.item:hover {
        background-color: #3CB878;
        color: #fff;
    }

    .ui.vertical.pointing.menu .item:hover {
        background-color: #BABABA;
        color: #fff;
    }

    .ui.vertical.menu {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
        width: auto;
    }

    .ui.menu .item {
        line-height: 3.2;
    }

    .ui.menu {
        font-size: 1.28rem;
        border: none;
    }

    .ui.vertical.menu .item {
        display: block;
        background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
        color: #BABABA;
    }

    .ui.vertical.menu>.active.item:first-child,
    .ui.vertical.menu>.active.item:last-child,
    .ui.vertical.menu>.item:first-child,
    .ui.menu>.item:first-child,
    .ui.vertical.menu>.item:last-child {
        border-radius: 0px !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 50%;
        max-height: 3.5vh;
        min-height: 3.5vh;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #EBEBEB;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 50%;
        background-color: #3CB878;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #EBEBEB;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 34px;
    }

    .toggleConfigText {
        width: 50%;
        text-align: center;
        height: 100%;
        vertical-align: middle;
        font-size: 1vw;
        padding-top: 6px;
    }

    .configText {
        color: white;
        text-align: center;
        height: 100%;
        vertical-align: middle;
        font-size: 1vw;
        padding-top: 6px;
    }

    .configText:before {
        position: absolute;
        top: 7px;
        right: 18%;
        content: "True";
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    .configText:after {
        position: absolute;
        top: 7px;
        left: 14%;
        content: "False";
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }

    input+.slider+.configText:after {
        opacity: 1;
    }

    input+.slider+.configText:before {
        opacity: 0;
    }

    input:checked+.slider+.configText:after {
        opacity: 0;
    }

    input:checked+.slider+.configText:before {
        opacity: 1;
    }

    .flipButton {
        background-color: #3CB878 !important;
        width: 100%;
        border-radius: 25px!important;
        color: #fff !important;
        font-size: 1vw !important;
        padding: 0.5em 5.5em !important;
    }

    .borderDiv {
        border-color: #EBEBEB;
        border-style: solid;
        border-width: 1.2px;
    }

    #panelContainer {
        width: 99.1% !important;
        padding-left: 1rem;
    }

    #panelContainer>.menuItemDiv {
        padding-left: 0px;
        padding-right: 0px;
    }

    .menuItemDiv>.menu {
        border-radius: 0px !important;
    }

    .panelBody {
        width: 27% !important;
    }

    .panelIamgeDiv {
        width: 46% !important;
    }

    .panelIamgeDiv>.row {
        text-align: center;
    }

    .panelIamgeDiv>.row>img {
        max-width: 90%;
    }

    .panelHeading {
        margin: 1% 2% 5%;
    }

    .panelHeading span {
        font-size: 20px;
    }

    .mt15 {
        margin-top: 15%;
    }

    .flipImage {
        width: 15%;
        margin-right: 10%;
        float: left;
    }

    .ui.modal {
        top: 3%;
    }


    .wizard .ui.breadcrumb .section {
        color: rgba(0, 0, 0, .4);
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .wizard .ui.breadcrumb .active.section {
        color: #5588BF;
        font-weight: 700;
    }

    .wizard h2 {
        font-weight: 700;
        font-family: 'Noto Sans', sans-serif;
    }

    .wizard .ui.grid>.column.wizard-title {
        text-align: center;
        background-color: #eee;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .wizard .ui.grid>.column.breadcrumb-container {
        padding-top: 1.4rem;
    }

    .wizard .ui.grid.wizard-header {
        margin-left: -21px;
        margin-top: -21px;
        margin-bottom: 20px;
    }

    .ui.modal {
        top: 3%;
    }

    .ngdialog.ngdialog-theme-default .ngdialog-content {
        margin-top: -100%;
        font-family: 'Noto Sans', sans-serif;
    }



    #div1 {
        float: left;
        margin: 10px;
        padding: 15px;
        border: solid 2px;
        border-color: #C0C0C0;
        width: 85%;
        height: 47vh;
    }

    .dragDiv {
        margin: 20px;
    }


    .cursor-pointer {
        cursor: pointer;
    }

    @media only screen and (max-height: 799px) {
        .ui.modal {
            top: 1%;
        }
    }

    </style>
    <div class="ui modal fullscreen active">
        <div class="content wizard">
            <div class="ui grid wizard-header">
                <div class="two wide column wizard-title">
                    <h2>Match The Following</h2>
                </div>
                <div class="six wide column breadcrumb-container">
                    <div class="ui huge breadcrumb">
                        <span class="{{!$ctrl.isAksharaBrowser ? 'active': ''}} section">1.Pick Words</span>
                        <i class="right chevron icon divider"></i>
                        <span class="{{$ctrl.isGameLevel ? 'active': ''}} section">2.Choose Game Level</span>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.isAksharaBrowser">
                <wordpicker selected-words="$ctrl.selectedWords"></wordpicker>
            </div>
            <div ng-show="$ctrl.isGameLevel">
                <div class="row" style="margin-top: 10px;">
                    <div class="ui column horizontally padded grid">
                        <span class="error-msg" ng-show="$ctrl.noLevelSelected">No Game Level Selected</span>
                    </div>
                </div>
                <div class="ui two column horizontally padded grid">
                    <div class="five wide column">
                        <div id="div1">
                            <div ng-repeat="levelData in $ctrl.levelMetaData track by $index">
                                <div class="dragDiv ui raised segment cursor-pointer" data-id="{{levelData.level}}" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-drop="$ctrl.onLevelDragDrop(dragEl, dropEl)" style="margin-bottom: 10px;">
                                    <input type="checkbox" id="check{{levelData.level}}" name="check{{levelData.level}}" ng-model="levelData.selected" ng-click="$ctrl.addGamelevel(levelData)" />
                                    <label for="check{{levelData.level}}">{{levelData.levelText}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="seven wide column right floated">
                        <div style="height : 32vh;">
                            <img src="{{$ctrl.selectedLevelPath}}" style="max-width: 500px; padding-left: 20px;">
                        </div>
                        <div style="height : 5vh;"><span style="padding-left: 40px; font-weight: bold;">{{$ctrl.selectedLevelText}}</span></div>
                       <!--  <div class="row mt15 togglebutton ui grid">
                           <div class="three wide column">
                               <span style="font-size:15px; font-weight:bold;">Is MTF Required</span>
                           </div>
                           <div class="six wide column">
                               <label class="switch">
                                   <input type="checkbox" checked ng-model="$ctrl.isMtfRequired">
                                   <div class="slider round"><span class="toggleConfigText" style="float:left">False</span> <span class="toggleConfigText" style="float:right">True</span></div>
                                   <div class="configText"></div>
                               </label>
                           </div>
                       </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
           <div class="ui buttons" ng-if="$ctrl.isAksharaBrowser">
                <button class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
                <div class="or"></div>
                <button class="ui blue button" type="button" ng-click="$ctrl.addWords()">Next</button>
            </div>
            <div class="ui buttons" ng-if="$ctrl.isGameLevel">
                <button class="ui orange button" ng-click="$ctrl.Editakshara()" type="button">Edit Words</button>
                <div class="or"></div>
                <button class="ui blue button" type="button" ng-click="$ctrl.addtoLesson()">Add to Lesson</button>
            </div>
        </div>
    </div>
 </script>