<style type="text/css">
    .modal-header {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        padding-bottom: 15px;
    }
    .modal-header .header-content {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .modal-footer {
        float: right;
    }
    .dropdown {
        width: 100%;
    }
    .header-txt {
        text-align: right;
    }
    .column {
        padding-left: 0;
    }
    /* .header-text {
        display: inline-block;
        text-align: center;
        vertical-align: super;
    } */
    .ft-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    .ft-modal {
        top: 20px !important;
        font-family: HelveticaNeueLTStd-Lt, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .close {
        float: right;
        height: 24px;
        width: 24px;
    }
    .preview-frame {
        border: 1px solid #cccccc;
        border-radius: 5px;
        height: 250px;
    }
    .desc-frame {
        border: 1px solid #cccccc;
        border-radius: 5px;
        height: 60px;
        padding: 6px;
        /* font-size: 12px; */
    }
    [data-tooltip]:after {
        background-color: white;
        color: inherit;
        font-size: 12px;
        font-family: inherit;
    }
    #funtootCommonPreviewFrame {
        height:100%;
        width:87%;
        margin-left:7%;
    }
</style>
<div class="ui modal large active ft-modal">
    <div class="content">
        <div class="ui one column grid">
            <div class="column">
                <div class="modal-header">
                    <img class="ft-icon icon1 image header-content" ng-src="{{iconImg}}">
                    <span class="header-text header-content">{{config.selectedConfig.Type}} Questions</span>
                    <img class="ft-icon image header-content cursor-pointer close" ng-src="{{dlgCloseIconImg}}" ng-click="onCancel()">
                    <!-- <i class="cursor-pointer close icon header-content" ng-click="onCancel()"></i> -->
                </div>
            </div>
        </div>
        <form class="ui form">
            <div class="ui two column grid">
                <div class="column">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Medium
                                <span class="tooltip-container" data-tooltip="Select the medium of content" data-position="right center">
                                    <i class="icon question circle outline" />
                                </span>
                            </label>
                            <select class="ui dropdown" ng-model="locales.contentLocale" ng-change="onContentLocalChange()" ng-options="loc as loc.displayValue for loc in locales.validLocales track by loc.id"></select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Question Level
                                <span class="tooltip-container" data-tooltip="Select the level of questions" data-position="right center">
                                    <i class="icon question circle outline" />
                                </span>
                            </label>
                            <select class="ui dropdown" ng-model="config.selectedConfig.Level" ng-change="onLevelChange()" ng-options="level as level.level +'   '+ level.levelDesc for level in levels | orderBy:'level'"></select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Question Sub-Level
                                <span class="tooltip-container" data-tooltip="Select the sub-level of questions" data-position="right center">
                                    <i class="icon question circle outline" />
                                </span>
                            </label>
                            <select class="ui dropdown" ng-model="config.selectedConfig.SubLevel" ng-change="onSubLevelChange()" ng-options="sublevel as sublevel.subLevel +'  '+ sublevel.subLevelDesc for sublevel in sublevels | orderBy:'subLevel'"></select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Number Format
                                <span class="tooltip-container" data-tooltip="Select the desired number format" data-position="right center">
                                    <i class="icon question circle outline" />
                                </span>
                            </label>
                            <select class="ui dropdown" ng-model="locales.numeralLocale" ng-change="onNumeralLocaleChange()" ng-options="loc as loc.displayValue for loc in locales.contentLocale.numerals track by loc.id"></select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field">
                            <label>Number of Questions
                                <span class="tooltip-container" data-tooltip="Select the number of questions that is to be included for the selected level and sub-level"
                                    data-position="right center">
                                    <i class="icon question circle outline" />
                                </span>
                            </label>
                            <div class="ui right labeled input">
                                <input type="number" id="qCount" min="1" max="{{config.selectedConfig.itemsData.length}}" class="config-slider ng-pristine ng-valid ng-not-empty ng-touched"
                                    ng-model="config.selectedConfig.QCount" ng-change="validateQCount()">
                                <div class="ui basic label">
                                    max: {{config.selectedConfig.itemsData.length}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field inline">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" tabindex="0" class="" ng-model="config.selectedConfig.showImmediateFeedback">
                                <label>
                                    <b>Show immediate feedback</b>
                                    <span class="tooltip-container" data-tooltip="Select this option if you want immediate feedback available for the students on the answers"
                                        data-position="right center">
                                        <i class="icon question circle outline" />
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field inline">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" tabindex="0" class="" ng-model="config.selectedConfig.areVariablesStatic" ng-true-value="false" ng-false-value="true">
                                <label>
                                    <b>Generate new question each time content is played</b>
                                    <span class="tooltip-container" data-tooltip="Select this option if the question should get generated with new set of numbers every time it is played"
                                        data-position="right center">
                                        <i class="icon question circle outline" />
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Class
                                <span class="tooltip-container" data-tooltip="Select the grade or class for which the content is created" data-position="right center">
                                    <i class="icon question circle outline" />
                                </span>
                            </label>
                            <select class="ui dropdown" ng-model="config.selectedConfig.Grade" ng-change="onGradeChange()" ng-options="grade for grade in Grades"></select>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field">
                            <label>Preview
                                <i class="icon question circle outline" />
                            </label>
                            <div class="preview-frame">
                                <iframe src="/content/preview/preview.html?webview=true" id="funtootCommonPreviewFrame" >
                                </iframe>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="sixteen wide field">
                            <div class="desc-frame" ng-bind="config.selectedConfig.itemData.Description"></div>
                        </div>
                    </div>
                    <div class="fields modal-footer">
                        <div class="ui buttons">
                            <button class="ui orange button" ng-click="onCancel()" type="button">Cancel</button>
                            <div class="or"></div>
                            <button class="ui blue button" ng-click="$parent.addQuestion($event)" type="button">ADD</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>