.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
terragrunt
.DS_Store
*.terrahelpbkp

# Ignoring common charts
**/charts/common
# Ignoring test directories
**/kitchen

terraform/oci/dev/global-values.yaml
terraform/oci/dev/global-cloud-values.yaml
terraform/oci/dev/global-values-jwt-tokens.yaml
terraform/oci/dev/global-values-rsa-keys.yaml
terraform/oci/dev/*.pem
terraform/oci/dev/env*.json
