<script type="text/ng-template" ng-app="wordCardApp" ng-controller="wordCardEditorController as $ctrl" id="wordcard">
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
    .ui.form .error.message {
        display: block;
    }
    
    .content-wrapper {
        height: 40vh;
        overflow-y: auto;
        padding-top: 15px;
        padding-left: 15px;
        border: 1px solid #ddd;
    }
    
    .ui.modal {
        top: 3%;
    }
    
    .selected-word-box {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
        padding: 10px;
    }
    
    .ui.checkbox label {
        cursor: pointer;
        padding-top: 0.2em;
        font-size: 1.2rem;
    }
    
    .ui.segment.custom-loader {
        position: static;
        background: #FFF;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .075);
        margin: 0 0;
        padding: 0;
        border-radius: 0;
        border: none;
    }
    
    .selected-word-box .ui.label.custom-label {
        background-color: transparent;
        border-radius: 0;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: capitalize;
        width: 100%;
    }
    
    .ui.dropdown .menu .active.item {
        color: #3575D3;
    }
    
    .step> .content > .title {
        margin-bottom: 5px;
    }
    
    .right-panel .ui.form .field {
        margin-left: 1%;
    }
    
    .list-group-item>.pos {
        display: none;
        font-size: 0.9rem;
        padding-left: 5px;
        color: #fff;
        margin-top: -10px;
    }
    
    .list-group-item:hover .pos {
        display: block;
    }
    
    .list-group {
        display: inline-block;
        list-style-type: none;
        padding-left: 0;
    }
    
    .list-group-item {
        background-color: #43B77A;
        margin-bottom: 10px;
        border-radius: 32px;
        padding: 5px 15px 5px 10px;
        text-align: left;
    }
    
    .list-group-item:first-child {
        background-color: transparent;
        color: #383838;
        font-weight: 400;
        font-size: 1.4rem;
    }
    
    .ui.grid>.row>.column.no-left-right-padding,
    .ui.grid>.column.no-left-right-padding {
        padding-left: 0;
        padding-right: 0;
    }
    
    .overflow-text {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .padded> .four.wide.column {
        padding-left: 0;
    }
    
    .wizard-error-message-box {
        background-color: #f26d7d;
        color: #ffffff;
        font-size: 1.5em;
        margin: 0 0 1em 0;
        padding: 15px;
    }
    
    .wizard-error-message {
        color: #f26d7d;
        font-size: 1.2em;
        padding: 10px 0;
    }
    
    .wizard-error-message-box>p {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
        -moz-margin-before: 0;
        -moz-margin-after: 0;
        -ms-margin-before: 0;
        -ms-margin-after: 0;
        -o-margin-before: 0;
        -o-margin-after: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .wizard .ui.breadcrumb .section {
        color: rgba(0, 0, 0, .4);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .wizard .ui.breadcrumb .active.section {
        color: #5588BF;
        font-weight: 700;
    }
    
    .wizard h2 {
        font-weight: 700;
        font-family: 'Noto Sans', sans-serif;
    }
    
    .wizard .ui.grid>.column.wizard-title {
        text-align: center;
        background-color: #eee;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    
    .wizard .ui.grid>.column.breadcrumb-container {
        padding-top: 1.4rem;
    }
    
    .wizard .ui.grid.wizard-header {
        margin-left: -21px;
        margin-top: -21px;
        margin-bottom: 20px;
    }
    
    .word-card-config .ui.form,
    .word-card-config .ui.input,
    .wizard .ui.menu {
        font-size: 1.2rem;
        font-family: 'Noto Sans', sans-serif;
    }
    
    .word-card-config .ui.labeled.input>.label {
        font-size: 1.2rem;
        padding-left: 1.2rem;
        font-weight: 400;
    }
    
    .word-card-config .ui.dropdown .menu>.item,
    .word-card-config .ui.selection.dropdown .menu>.item {
        padding-left: 1.2rem!important;
    }
    
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        margin-top: -100%;
        font-family: 'Noto Sans', sans-serif;
    }
    
    @media only screen and (max-height: 799px) {
        .ui.modal {
            top: 1%;
        }
    }
    
    @media only screen and (max-width: 1280px) {
        .visible-large-screen {
            display: none;
        }
    }
    </style>
    <div class="ui modal fullscreen active">
        <div class="content word-card wizard">
            <div class="ui grid wizard-header">
                <div class="two wide column wizard-title">
                    <h2>Word Card</h2>
                </div>
                <div class="six wide column breadcrumb-container">
                    <div class="ui huge breadcrumb">
                        <span class="{{$ctrl.showWordSource ? 'active': ''}} section">1.Pick Words</span>
                        <i class="right chevron icon divider"></i>
                        <span class="{{$ctrl.showConfiguration ? 'active': ''}} section">2.Choose Information</span>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.isError && $ctrl.showConfiguration" class="wizard-error-message-box">
                <p ng-if="$ctrl.isLanguageError">Languages are not found !</p>
                <p ng-if="$ctrl.noTranslation">Translations are not found !</p>
                <p ng-if="$ctrl.isTranslationAudioError">Pronunciations are not found for translated words !</p>
                <p ng-if="$ctrl.wordsWithoutTranslation.length > 0"> Translations are not found for - <span ng-repeat="word in $ctrl.wordsWithoutTranslation"><span ng-if="$index">,</span>{{word.lemma}}</span>
                </p>
                <p ng-if="$ctrl.wordsWithoutAudio.length > 0"> Pronunciations are not found for - <span ng-repeat="word in $ctrl.wordsWithoutAudio"><span ng-if="$index ">,</span>{{word}}</span>
                </p>
                <p> Click "Add To Lesson" again to create content.</p>
            </div>
            <div ng-show="$ctrl.showWordSource">
                <div class="ui grid container">
                    <div class="twelve wide column">
                        <wordpicker selected-words="$ctrl.words" errors="$ctrl.wordpickerErrors"></wordpicker>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.showConfiguration">
                <div class="ui horizontally padded grid word-card-config">
                    <div class="four wide column left floated">
                        <div class="row">
                            <div class="ui form selected-word-box content-wrapper">
                                <ul class="field list-group">
                                    <li class="list-group-item">Selected Words</li>
                                    <li class="list-group-item" ng-repeat="word in $ctrl.words">
                                        <div class="ui label custom-label row" title="{{word.lemma}}">
                                            <div class="ui grid">
                                                <div class="row">
                                                    <span class="eleven wide column no-left-right-padding overflow-text">{{word.lemma}}</span>
                                                    <span class="one wide column no-left-right-padding"><i class="icon close" ng-click="$ctrl.removeWord(word.identifier)"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="word.pos[0].length" class="pos">{{word.pos[0]}} </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column right floated no-left-right-padding">
                        <div class="ui segment custom-loader" ng-show="$ctrl.isProcessing">
                            <div class="ui active inverted dimmer">
                                <div class="ui text loader">Just one second, We're fetching content for you.</div>
                            </div>
                        </div>
                        <div class="row content-wrapper right-panel">
                            <div class="ui grid form">
                                <div class="three wide column horizontally">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.config.picture" name="picture" id="picture">
                                            <label for="picture">Image</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column horizontally">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.config.meaning" name="meaning" id="meaning">
                                            <label for="meaning">Meaning</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column horizontally">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.config.audio" name="audio" id="sound">
                                            <label for="sound">Audio</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="three wide column">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" ng-model="$ctrl.config.exampleUsage" name="exampleUsage" id="example">
                                            <label for="example">Example Usage(s)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="six wide column">
                                    <div class="field">
                                        <div class="ui fluid labeled input">
                                            <div class="ui label">Translations In <span class="visible-large-screen">(Max 4)</span></div>
                                            <select multiple="multiple" class="ui fluid dropdown" ng-model="$ctrl.selectedLanguageCodes" ng-options="lang.code as lang.name for lang in $ctrl.languages" ng-change="$ctrl.resetForm()">
                                                <option value="">
                                                    Languages
                                                </option>
                                            </select>
                                        </div>
                                        <div class="wizard-error-message" ng-show="$ctrl.selectedLanguageCodes.length> 4"> * Max 4 languages !
                                        </div>
                                    </div>
                                </div>
                                <div class="six wide column">
                                    <div class="field">
                                        <div class="ui fluid labeled input">
                                            <div class="ui label">Transliteration In</div>
                                            <select class="ui fluid dropdown" ng-model="$ctrl.transliterationLanguage" ng-options="lang.code as lang.name for lang in $ctrl.languages" ng-change="$ctrl.getTransliteration(); $ctrl.resetForm();">
                                                <option value="">
                                                    Language
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui big buttons" ng-if="$ctrl.showWordSource">
                <button class="ui orange button" ng-click="$ctrl.cancel()" type="button">Cancel</button>
                <div class="or"></div>
                <button class="ui blue button" type="button" ng-disabled="$ctrl.words.length == 0" ng-click="$ctrl.editConfigurations()">Next</button>
            </div>
            <div class="ui big buttons" ng-if="$ctrl.showConfiguration">
                <button class="ui orange button" ng-click="$ctrl.editWords()" type="button">Edit Words</button>
                <div class="or"></div>
                <button class="ui blue button" type="button" ng-disabled="$ctrl.selectedLanguageCodes.length > 4 || $ctrl.words.length == 0 " ng-click="($ctrl.selectedLanguageCodes.length > 0 && $ctrl.isFreshForm) ? $ctrl.getTranslations() : $ctrl.addtoLesson()">Add To Lesson</button>
            </div>
        </div>
    </div>
</script>
