<!-- Template to show list of selected words -->
<script type="text/ng-template" id="wordsList">
    <div class="ui grid">
        <div class="twelve wide column no-left-right-padding" ng-show="selectedSource.showSelectedWords">
            <div class="ui grid">
                <div class="row word-panel words-list">
                    <div class="eleven wide column">
                        <div class="ui large divided items">
                            <span class="ui label custom-label" ng-repeat="selWord in selectedWords">{{selWord.lemma}} <i class="icon close" ng-click="removeWordFromWordsList(selWord.identifier)"></i></span>
                        </div>
                    </div>
                    <div class="one wide column">
                        <i class="pull-right icon close red" ng-click="selectedSource.showSelectedWords = false" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- Words count template -->
<script type="text/ng-template" id="wordsCountTemplate">
    <div class="ui grid" ng-show="!selectedSource.isLoading">
        <div class="twelve wide column">
            <span class="link-text pull-right" ng-click="selectedSource.showSelectedWords = !selectedSource.showSelectedWords" ng-show="selectedWords.length > 0">{{selectedWords.length}} words selected</span><span ng-if="selectedWords.length == 0" class="pull-right">No Words Selected</span>
        </div>
    </div>
</script>
<!-- Search result template -->
<script type="text/ng-template" id="searchResult">
    <div class="ui grid">
        <div class="twelve wide column no-left-right-padding">
            <div class="row word-panel">
                <div class="ui large divided items" ng-show="!selectedSource.isLoading">
                    <div class="word-select" ng-repeat="wordVal in selectedSource.nameWiseWords">
                        <div class="row mb10">
                            <span class="capitalize">{{$index + 1}}. {{wordVal.wordName}}</span>
                        </div>
                        <div ng-repeat="wordData in wordVal.words" ng-init="wordIndex = $index" ng-class="checkWordWithImageAudio(wordData)">
                            <label class="custom-checkbox-label" for="{{wordVal.wordName}}{{wordIndex}}">
                                <span ng-if="wordData.pos " class="word-pos">&nbsp; {{wordData.pos[0]}} : </span>
                                <span ng-if="wordData.meaning ">&nbsp; {{wordData.meaning}}</span>
                                <span ng-if="!wordData.meaning">&nbsp; Meaning not available.</span>
                            </label>
                            <div class="ui checkbox pull-right custom-checkbox">
                                <input type="checkbox" name="{{wordVal.wordName}}{{$index}} " ng-model="wordData.isSelected " ng-change="selectedSource.onWordSelectionChange() " id="{{wordVal.wordName}}{{wordIndex}}">
                                <label for="wordSel{{wordIndex}}"></label>
                            </div>
                            <label ng-if="checkWordWithImageAudio(wordData)" class="error-missing-audio-image">*Cannot add word.Image/Audio is missing.</label>
                        </div>
                    </div>
                </div>
                <div class="ui segment custom-loader" ng-show="selectedSource.isLoading">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Just one second, We're fetching content for you.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- word duniya filters -->
<script type="text/ng-template" id="wordDuniyaFilter">
    <section class="filters">
        <div class="ui grid filters-container {{wordForm.word.$error.required && selectedSource.inValidForm ? 'push-down' : '' }}">
            <div class="five wide column no-left-padding" ng-init="selectedTab = 1">
                <ul class="filters-list">
                    <li class="{{selectedTab == 1 ? 'selected': ''}}" ng-click="selectedTab = 1">Language</li>
                    <li class="{{selectedTab == 2 ? 'selected': ''}}" ng-click="selectedTab = 2">
                        <span ng-if="selectedSource.searchCriteria._filter.wordPattern == 'exact'">Exact Word</span>
                        <span ng-if="selectedSource.searchCriteria._filter.wordPattern == 'start'">Starts With</span>
                        <span ng-if="selectedSource.searchCriteria._filter.wordPattern == 'end'">Ends With</span>
                        <span ng-if="selectedSource.searchCriteria._filter.wordPattern == 'contains'">Contains</span>
                    </li>
                    <li class="{{selectedTab == 3 ? 'selected': ''}}" ng-click="selectedTab = 3">Number of Letters</li>
                    <li class="{{selectedTab == 4 ? 'selected': ''}}" ng-click="selectedTab = 4">Parts of Speech ({{(selectedSource.searchCriteria._filter.posList | filter : {selected : true}).length}})</li>
                    <li class="{{selectedTab == 5 ? 'selected': ''}}" ng-click="selectedTab = 5">Category ({{(selectedSource.searchCriteria._filter.categoryList | filter : {selected : true}).length}})</li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="seven wide column no-right-padding">
                <div class="filters-options">
                    <div ng-show="selectedTab == 1">
                        <div class="field" ng-repeat="language in selectedSource.languageList track by language.code">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.languageSelected" type="radio" name="language" value="{{language.code}}" id="{{language.code}}" ng-disabled="checkSupportLanguage(language.code)">
                                <label for="{{language.code}}">{{language.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedTab == 2">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.wordPattern" type="radio" name="wordPattern" value="exact" id="exact">
                                <label for="exact">Exact Word</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.wordPattern" type="radio" name="wordPattern" value="start" id="start">
                                <label for="start">Starts With</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.wordPattern" type="radio" name="wordPattern" value="end" id="ends">
                                <label for="ends">Ends With</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.wordPattern" type="radio" name="wordPattern" value="contains" id="contains">
                                <label for="contains">Contains</label>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedTab == 3">
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.syllableCountOption" type="radio" name="syllableCountOption" value="any" id="any">
                                <label for="any">Any</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.syllableCountOption" type="radio" name="syllableCountOption" value="range" id="range_one">
                                <label for="range_one">Range</label>
                            </div>
                        </div>
                        <div class="fields" ng-if="selectedSource.searchCriteria._filter.syllableCountOption == 'range'">
                            <div class="seven wide field">
                                <input type="number" placeholder="Min" ng-model="selectedSource.searchCriteria._filter.syllableCount.min" name="min" ng-pattern="/^(?!0+$)\d*$/" required>
                            </div>
                            <div class="seven wide field">
                                <input type="number" placeholder="Max" ng-model="selectedSource.searchCriteria._filter.syllableCount.max" name="max" ng-pattern="/^(?!0+$)\d*$/" ng-min="selectedSource.searchCriteria._filter.syllableCount.min">
                            </div>
                        </div>
                        <div class="wizard-error-message" ng-show="(wordForm.min.$error.pattern ||  wordForm.max.$error.pattern) && selectedSource.inValidForm && selectedSource.searchCriteria._filter.syllableCountOption == 'range'">
                            * Please enter a valid number !
                        </div>
                        <div class="wizard-error-message" ng-show="wordForm.min.$error.required && selectedSource.inValidForm && selectedSource.searchCriteria._filter.syllableCountOption == 'range'">
                            * Please enter a number !
                        </div>
                        <div class="wizard-error-message" ng-show="wordForm.max.$error.min && selectedSource.inValidForm && selectedSource.searchCriteria._filter.syllableCountOption == 'range'">
                            * Min value should be less than max value !
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input ng-model="selectedSource.searchCriteria._filter.syllableCountOption" type="radio" name="syllableCountOption" value="equal" id="equal">
                                <label for="equal">Equal To</label>
                            </div>
                        </div>
                        <div class="fields">
                            <div class="seven wide field">
                                <input type="number" placeholder="Equal To" ng-model="selectedSource.searchCriteria._filter.syllableCount.equal" name="equal" ng-pattern="/^(?!0+$)\d*$/" ng-if="selectedSource.searchCriteria._filter.syllableCountOption == 'equal'" required>
                            </div>
                        </div>
                        <div class="wizard-error-message" ng-show="wordForm.equal.$error.pattern && selectedSource.inValidForm && selectedSource.searchCriteria._filter.syllableCountOption == 'equal'"> * Please enter a valid number !
                        </div>
                        <div class="wizard-error-message" ng-show="wordForm.equal.$error.required && selectedSource.inValidForm && selectedSource.searchCriteria._filter.syllableCountOption == 'equal'"> * Please enter a number !
                        </div>
                    </div>
                    <div ng-show="selectedTab == 4">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="selectAllPos" ng-model="selectedSource.searchCriteria._selectAllPos" id="selectAllPos" ng-change="selectedSource.searchCriteria.selectAll('pos')">
                                <label for="selectAllPos">Select All</label>
                            </div>
                        </div>
                        <div class="field" ng-repeat="pos in selectedSource.searchCriteria._filter.posList track by pos.name">
                            <div class="ui checkbox">
                                <input type="checkbox" name="{{pos.name}}" ng-model="pos.selected" id="{{pos.name}}" ng-change="selectedSource.searchCriteria.updateSelectAll('pos')">
                                <label class="capitalize" for="{{pos.name}}">{{pos.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div ng-show="selectedTab == 5">
                        <div class="field">
                            <div class="ui checkbox">
                                <input type="checkbox" name="selectAllCategory" ng-model="selectedSource.searchCriteria._selectAllCategory" id="selectAllCategory" ng-change="selectedSource.searchCriteria.selectAll('category')">
                                <label for="selectAllCategory">Select All</label>
                            </div>
                        </div>
                        <div class="field" ng-repeat="category in selectedSource.searchCriteria._filter.categoryList track by category.name">
                            <div class="ui checkbox">
                                <input type="checkbox" name="{{category.name}}" ng-model="category.selected" id="{{category.name}}" ng-change="selectedSource.searchCriteria.updateSelectAll('category')">
                                <label class="capitalize" for="{{category.name}}">{{category.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="six wide column no-left-padding">
                <button class="ui blue button primary" type="submit">Apply Filters</button>
            </div>
        </div>
    </section>
</script>
<!-- search result with filter -->
<script type="text/ng-template" id="searchResultWithFilter">
    <form class="ui form" role="form" name="wordForm" id="wordForm" novalidate="novalidate" ng-submit="selectedSource.getWords(wordForm)">
        <div class="ui grid">
            <div class="five wide column">
                <ng-include src="'wordDuniyaFilter'"></ng-include>
            </div>
            <div class="seven wide column">
                <section class="word-list">
                    <ng-include src="'searchFormTemplate'"></ng-include>
                    <ng-include src="'searchResult'"></ng-include>
                    <ng-include src="'wordsCountTemplate'"></ng-include>
                </section>
            </div>
        </div>
    </form>
</script>
<!-- Search form -->
<script type="text/ng-template" id="searchFormTemplate">
    <div class="ui grid">
        <div class="twelve wide column no-left-right-padding">
            <div class="field">
                <div class="ui action input">
                    <input type="text" name="word" ng-model="selectedSource.word" min="1" placeholder="Search words to add( Eg: Lion, Forest, Run )">
                    <button type="submit" class="ui blue button search">
                        <i class="search icon"></i>
                    </button>
                </div>
                <div class="wizard-error-message" ng-show="wordForm.word.$error.required && selectedSource.inValidForm">
                    * Please enter words !
                </div>
            </div>
        </div>
    </div>
</script>
<!-- Word Duniya Template -->
<script type="text/ng-template" id="wordDuniyaTemplate">
    <div ng-hide="selectedSource.showSelectedWords">
        <ng-include src="'searchResultWithFilter'"></ng-include>
    </div>
</script>
<!-- Extract Words Template -->
<script type="text/ng-template" id="wordsExtractorTemplate">
    <div class="wordpicker">
        <div class="ui one column grid" ng-hide="selectedSource.showSelectedWords">
            <div class="row">
                <div class="twelve wide column">
                    <ng-include src="'searchResult'"></ng-include>
                    <ng-include src="'wordsCountTemplate'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="wordpickertemplate">
    <div class="wordpicker mb10" class="ui two column horizontally padded grid">
        <div class="ui grid">
            <div class="twelve wide column no-left-right-padding" ng-show="selectedSource._errors.length">
                <div class="wizard-error-message-box">
                    <p ng-repeat="error in selectedSource._errors">{{error}}</p>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="twelve wide column mb10 no-left-right-padding no-top-padding">
                <div class="ui secondary pointing menu">
                    <a ng-repeat="source in sources" class="item {{selectedSource === source ? 'active': ''}}" ng-click="switchSource(source)">{{source.title}}</a>
                </div>
            </div>
        </div>
        <div ng-include="selectedSource.templateId">
        </div>
        <div class="row">
            <div class="twelve wide column">
                <div ng-include="'wordsList'">
                </div>
            </div>
        </div>
    </div>
</script>
