<div ng-controller="org.ekstep.questionset:config-controller">
    <div class="ui accordion sidebar-accordion">
		<div class="ui active tab segment sidebarContent" data-tab="settings">
			<div class="ui form">
				<div class="field">
					<label>Edit question set</label>
					<button class="ui button" ng-click="fireEvent({'id':'org.ekstep.questionset:showPopup', 'data': {'type': 'button', 'event': {'id': 'org.ekstep.questionset:showPopup', 'type': 'questionset'}}});">Edit</button>
				</div>
				<div class="field">
					<label>Question set title</label>
					<input type="text" ng-model="title" id="title" onkeypress="return event.charCode>= 48"/>
				</div>
			</div>
		</div>
    </div>
</div>
